<%= link_to "##{dom_id(Current.cart)}", class: "nav-link", id: dom_id(Current.cart, :nav_item), data: { "bs-toggle" => "offcanvas" } do %>
  Cart <%= number_to_currency Current.cart.total_price, unit: "£" %> <span class="badge bg-secondary"><%= Current.cart.products.count %></span>
<% end %>
