<aside class="offcanvas offcanvas-end" id="<%= dom_id(cart) %>">
  <div class="offcanvas-header">
    <h1 class="h5 offcanvas-title">
      Shopping Cart
    </h1>

    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    Cart goes here
  </div>
</aside>
