<div id="<%= dom_id(cart, :products) %>">
  <% cart.products.each do |product| %>
    <div class="card mb-3">
      <div class="row g-0 align-items-center">
        <div class="col-md-4 p-4">
          <%= image_tag url_for(product.image), class: "img-fluid rounded-start" %>
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h2 class="h5 cart-title"><%= product.name %></h2>
            <p class="card-text text-muted">
              <%= number_to_currency product.price, unit: "£" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
